# Root node modules
node_modules/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend
backend/node_modules/
backend/.env

# Environment files
.env

# Build folders
dist/

# Logs
*.log
